<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>品牌设计|微信开发|APP开发|网站开发|重庆廿一氪科技有限公司</title>
<meta name="keywords" content="品牌设计,微信开发,APP开发,网站开发">
<meta name="description" content="重庆廿一氪科技有限公司是一个集品牌策划、品牌设计、品牌管理为一体的高端品牌整合策划设计团队。我们杭州设计公司致力于为注重“企业形象”和“品牌气质”的高要求客户提供服务。主营：VI设计,LOGO设计，咨询电话：400-002-6922。">
<meta name="author" content="lanyunwork">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, target-densitydpi=medium-dpi">
<!-- <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon"> -->
<link rel="stylesheet" href="../static/css/style.css" type="text/css">
<link rel="stylesheet" href="../static/css/public.css" type="text/css"><!--css-->
<!--<script src="https://hm.baidu.com/hm.js?59cf88c42aaeab5a68f18450d2672c47"></script>-->
<script type="text/javascript" src="../static/js/plugs/jquery-3.2.0.min.js"></script><!--jquery框架文件1.91-->
<script type="text/javascript" src="../static/js/plugs/jquery.easing.min.js"></script><!--增强动画过渡效果-->
<script type="text/javascript" src="../static/js/plugs/jquery.lazyload.min.js"></script><!--延迟加载-->
<script type="text/javascript" src="../static/js/plugs/jquery.superslide.js"></script><!--常用切换-->
<script type="text/javascript" src="../static/js/index.js"></script><!--网站js-->
<!--[if lt IE 9]><script src="/static/html5.js"></script><![endif]-->
<script>
//var _hmt = _hmt || [];
//	(function() {
//	  var hm = document.createElement("script");
//	  hm.src = "https://hm.baidu.com/hm.js?59cf88c42aaeab5a68f18450d2672c47";
//	  var s = document.getElementsByTagName("script")[0]; 
//	  s.parentNode.insertBefore(hm, s);
//	})();
//</script>
</head>
<body>
	<div class="container">
		<!--顶部联系方式通栏-->
		<div class="contact-top">
			<div class="content clearfix">
				<!--左侧电话-->
				<div class="contact-top-phone fl">
					<p class="">
						<span>18580648171</span>
					</p>
				</div>
				<!--右侧社交联系方式-->
				<ul class="clearfix fr">
					<li class="contact-item"><a href="#" title="QQ" class="contact-icon-item qq"></a></li>
					<li class="contact-item"><a href="#" title="QQ空间" class="contact-icon-item qqkj"></a></li>
					<li class="contact-item"><a href="#" title="微博" class="contact-icon-item weibo"></a></li>
					<li class="contact-item"><a href="#" title="微信" class="contact-icon-item weixin"></a></li>
				</ul>
			</div>
		</div>
		<!--网站banner-->
		<div class="banner">
			<div class="bd clearfix">
				<div class="item active"><a href="#"><img src="../static/img/banner_01.jpg"/></a></div>
				<div class="item"><a href="#"><img src="../static/img/banner_02.jpg"/></a></div>
				<div class="item"><a href="#"><img src="../static/img/banner_03.jpg"/></a></div>
			</div>
			<div class="hd">
				<ul class="control clearfix">
					<li class="on">1</li>
					<li>2</li>
					<li>3</li>
				</ul>
			</div>
		</div>
		<!--头部导航栏-->
		<div class="header">
			<div class="content">
				<div class="header-in clearfix">
					<div class="nav fr">
						<ul class="clearfix">
							<li><a href="#">首页</a></li>
							<li><a href="viewpoint.html">观点</a></li>
							<li><a href="#">服务</a></li>
							<li><a href="case.html">作品</a></li>
							<li><a href="21kr.html">21KR</a></li>
							<li><a href="#">联系我们</a></li>
						</ul>
						<a href="javascript:void(0)" class="close">
							<img src="../static/img/close.png">
						</a>
					</div>
					<a href="#" class="logo fl">
					</a>
					<a href="javascript:;" class="menu-off">
						<span id="span1"></span>
						<span id="span2"></span>
						<span id="span3"></span>
					</a>
				</div>
			</div>
		</div>
		<!--主营业务分类-->
		<div class="work-kind">
			<div class="content">
				<div class="work-item">
					<ul class="clearfix">
						<li><a href="javascript:void(0)" class="active">
								<i class="brd"></i>
								<h4>品牌设计</h4>
								<p>brand design</p>
							</a></li>
						<li><a href="javascript:void(0)">
								<i class="wxkf"></i>
								<h4>微信开发(H5)</h4>
								<p>WeChat development(H5)</p>
							</a></li>
						<li><a href="javascript:void(0)">
								<i class="appkf"></i>
								<h4>APP开发</h4>
								<p>AppSketcher</p>
							</a></li>
						<li><a href="javascript:void(0)">
								<i class="wzkf"></i>
								<h4>网站开发</h4>
								<p>website development</p>
							</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--品牌设计-->
		<div class="brand-design">
			<div class="content brand-design-content">
				<div class="area-title">
					<h2>品牌设计</h2>
					<p class="title-desc">Brand Design</p>
				</div>
				<div class="brand-design-word">
					<p>品牌设计是在企业自身正确定位的基础之上，基于正确品牌定义下的视觉沟通，它是一个协助企业发展的形象实体，不仅协助企业正确的把握品牌方向，
而且能够使人们正确的、快速的对企业形象进行有效深刻的记忆。品牌设计来源于最初的企业品牌战略顾问和策划顾问对企业进行战略整合以后，</p><br /><br />
					<p>设计是冰山一角，却至关重要！如果我们把品牌理解成一座冰山。品牌或企业所属的文化制度、员工行为、组织结构、核心技术、营销方式等要素是构
成这座冰山的主体，尽管于水下，却是品牌发展最强有力的支撑与原动力。但这一切都必须通过一系列完整有效的视觉设计与品牌推广来被大众所认知。
想想设计究竟有多重要！</p>
				</div>
				<div class="check-more">
					<a href="#" class="check-btn">查看详情</a>
				</div>
			</div>
			<div class="content brand-design-content dn">
				<div class="area-title">
					<h2>微信开发(H5)</h2>
					<p class="title-desc">WeChat development(H5)</p>
				</div>
				<div class="brand-design-word">
					<p>品牌设计是在企业自身正确定位的基础之上，基于正确品牌定义下的视觉沟通，它是一个协助企业发展的形象实体，不仅协助企业正确的把握品牌方向，
而且能够使人们正确的、快速的对企业形象进行有效深刻的记忆。品牌设计来源于最初的企业品牌战略顾问和策划顾问对企业进行战略整合以后，</p><br /><br />
					<p>设计是冰山一角，却至关重要！如果我们把品牌理解成一座冰山。品牌或企业所属的文化制度、员工行为、组织结构、核心技术、营销方式等要素是构
成这座冰山的主体，尽管于水下，却是品牌发展最强有力的支撑与原动力。但这一切都必须通过一系列完整有效的视觉设计与品牌推广来被大众所认知。
想想设计究竟有多重要！</p>
				</div>
				<div class="check-more">
					<a href="#" class="check-btn">查看详情</a>
				</div>
			</div>
			<div class="content brand-design-content dn">
				<div class="area-title">
					<h2>APP开发</h2>
					<p class="title-desc">AppSketcher</p>
				</div>
				<div class="brand-design-word">
					<p>品牌设计是在企业自身正确定位的基础之上，基于正确品牌定义下的视觉沟通，它是一个协助企业发展的形象实体，不仅协助企业正确的把握品牌方向，
而且能够使人们正确的、快速的对企业形象进行有效深刻的记忆。品牌设计来源于最初的企业品牌战略顾问和策划顾问对企业进行战略整合以后，</p><br /><br />
					<p>设计是冰山一角，却至关重要！如果我们把品牌理解成一座冰山。品牌或企业所属的文化制度、员工行为、组织结构、核心技术、营销方式等要素是构
成这座冰山的主体，尽管于水下，却是品牌发展最强有力的支撑与原动力。但这一切都必须通过一系列完整有效的视觉设计与品牌推广来被大众所认知。
想想设计究竟有多重要！</p>
				</div>
				<div class="check-more">
					<a href="#" class="check-btn">查看详情</a>
				</div>
			</div>
			<div class="content brand-design-content dn">
				<div class="area-title">
					<h2>网站开发</h2>
					<p class="title-desc">website development</p>
				</div>
				<div class="brand-design-word">
					<p>品牌设计是在企业自身正确定位的基础之上，基于正确品牌定义下的视觉沟通，它是一个协助企业发展的形象实体，不仅协助企业正确的把握品牌方向，
而且能够使人们正确的、快速的对企业形象进行有效深刻的记忆。品牌设计来源于最初的企业品牌战略顾问和策划顾问对企业进行战略整合以后，</p><br /><br />
					<p>设计是冰山一角，却至关重要！如果我们把品牌理解成一座冰山。品牌或企业所属的文化制度、员工行为、组织结构、核心技术、营销方式等要素是构
成这座冰山的主体，尽管于水下，却是品牌发展最强有力的支撑与原动力。但这一切都必须通过一系列完整有效的视觉设计与品牌推广来被大众所认知。
想想设计究竟有多重要！</p>
				</div>
				<div class="check-more">
					<a href="#" class="check-btn">查看详情</a>
				</div>
			</div>
		</div>
		<!--案例分析-->
		<div class="case">
			<div class="content">
				<div class="area-title case-title">
					<h2>案例分析</h2>
					<p class="title-desc case-desc">Case Appreciation</p>
				</div>
				<div class="case-wrap">
					<ul class="clearfix">
						<a href="case.html" class="case-item"><li>
							<img src="../static/img/case_01.jpg" alt="" class="tran lazy imgBig"/>
							<div class="case-summary">
		    					<div style="position: relative;width:100%;height: 100%">
		    						<p class="p1">吾秘果</p>
			    					<p class="p2">-<br>
			    						<span class="syl">吾秘果</span>
			    						<br>网站架构、视觉规范、交互设计</p>
		    					</div>
	    					</div>
						</li></a>
						<a href="case.html" class="case-item"><li><img src="../static/img/case_02.jpg" alt="" class="tran lazy imgBig"/>
							<div class="case-summary">
		    					<div style="position: relative;width:100%;height: 100%">
		    						<p class="p1">吾秘果</p>
			    					<p class="p2">-<br>
			    						<span class="syl">吾秘果</span>
			    						<br>网站架构、视觉规范、交互设计</p>
		    					</div>
	    					</div>
						</li></a>
						<a href="case.html" class="case-item"><li><img src="../static/img/case_01.jpg" alt="" class="tran lazy imgBig"/>
							<div class="case-summary">
		    					<div style="position: relative;width:100%;height: 100%">
		    						<p class="p1">吾秘果</p>
			    					<p class="p2">-<br>
			    						<span class="syl">吾秘果</span>
			    						<br>网站架构、视觉规范、交互设计</p>
		    					</div>
	    					</div>
						</li></a>
						<a href="case.html" class="case-item"><li><img src="../static/img/case_02.jpg" alt="" class="tran lazy imgBig"/>
							<div class="case-summary">
		    					<div style="position: relative;width:100%;height: 100%">
		    						<p class="p1">吾秘果</p>
			    					<p class="p2">-<br>
			    						<span class="syl">吾秘果</span>
			    						<br>网站架构、视觉规范、交互设计</p>
		    					</div>
	    					</div>
						</li></a>
						<a href="case.html" class="case-item"><li><img src="../static/img/case_01.jpg" alt="" class="tran lazy imgBig"/>
							<div class="case-summary">
		    					<div style="position: relative;width:100%;height: 100%">
		    						<p class="p1">吾秘果</p>
			    					<p class="p2">-<br>
			    						<span class="syl">吾秘果</span>
			    						<br>网站架构、视觉规范、交互设计</p>
		    					</div>
	    					</div>
						</li></a>
						<a href="case.html" class="case-item"><li><img src="../static/img/case_02.jpg" alt="" class="tran lazy imgBig"/>
							<div class="case-summary">
		    					<div style="position: relative;width:100%;height: 100%">
		    						<p class="p1">吾秘果</p>
			    					<p class="p2">-<br>
			    						<span class="syl">吾秘果</span>
			    						<br>网站架构、视觉规范、交互设计</p>
		    					</div>
	    					</div>
						</li></a>
					</ul>
				</div>
			</div>
		</div>
		<!--为什么选择我们-->
		<div class="choose-us">
			<div class="content">
				<div class="area-title">
					<h2>为什么选择我们</h2>
					<p class="title-desc case-desc">Our Advantage, Why choose us</p>
				</div>
			</div>
		</div>
		<!--服务流程-->
		<div class="service">
			<div class="content">
				<div class="area-title service-title">
					<h2>服务流程</h2>
					<p class="title-desc">service process</p>
				</div>
				<div class="service-process">
					<ul class="clearfix">
						<li>
							<i class="xmqb"></i>
							<p>项目情报</p>
							<p>1</p>
						</li>
						<li>
							<i class="qdht"></i>
							<p>签订合同</p>
							<p>2</p>
						</li>
						<li>
							<i class="xmqd"></i>
							<p>项目启动</p>
							<p>3</p>
						</li>
						<li>
							<i class="cpyx"></i>
							<p>产品原型</p>
							<p>4</p>
						</li>
						<li>
							<i class="sjsj"></i>
							<p>视觉设计</p>
							<p>5</p>
						</li>
						<li>
							<i class="cxkf"></i>
							<p>程序开发</p>
							<p>6</p>
						</li>
						<li>
							<i class="kfcs"></i>
							<p>开发测试</p>
							<p>7</p>
						</li>
						<li>
							<i class="xmys"></i>
							<p>项目验收</p>
							<p>8</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--合作伙伴-->
		<div class="partner">
			<div class="content">
				<div class="area-title service-title">
					<h2>合作伙伴</h2>
					<p class="title-desc">cooperative partner</p>
				</div>
				<ul class="clearfix partner-logo">
					<li><img src="../static/img/01.png" alt="" /></li>
					<li><img src="../static/img/02.png" alt="" /></li>
					<li><img src="../static/img/07.png" alt="" /></li>
					<li><img src="../static/img/04.png" alt="" /></li>
					<li><img src="../static/img/05.png" alt="" /></li>
					<li><img src="../static/img/06.png" alt="" /></li>
					<li><img src="../static/img/03.png" alt="" /></li>
				</ul>
			</div>
		</div>
		<!--底部导航栏-->
		<div class="footer">
			<div class="content">
				<div class="footer-in clearfix">
					<div class="footer2 fl clearfix">
						<dl>
							<dt><a href="/case" style="color: #999999;">WORKS</a></dt>
							<dd><a href="/case">品牌设计</a></dd>
							<dd><a href="/case">微信开发(H5)</a></dd>
							<dd><a href="/case">APP开发</a></dd>
							<dd><a href="/case">网站开发</a></dd>
						</dl>
						<dl>
							<dt><a href="/about" style="color: #999999;">21KR</a></dt>
							<dd><a href="/about">21KR是谁</a></dd>
							<dd><a href="/about#youshi">21KR优势</a></dd>
							<dd><a href="/about#hezuo">21KR文化</a></dd>
						</dl>
						<dl>
							<dt><a href="/news" style="color: #999999;">VIEWPOINT</a></dt>
							<dd><a href="/news/view/">21KR观点</a></dd>
							<dd><a href="/news/dynamic/">21KR动态</a></dd>
							<dd><a href="/news/information/">行业资讯</a></dd>
						</dl>
						<dl style="margin-right: 0px ">
							<dt><a href="/contact" style="color: #999999;">CONTACT</a></dt>
							<dd><a href="/contact#dizhi">位置地图</a></dd>
							<dd><a href="/contact#lianxi">联系方式</a></dd>
							<dd><a href="/contact#zhaopin">人才招聘</a></dd>
						</dl>
					</div>
					<div class="erweima fl">
						<img src="../static/img/erweima_s.png"/>
						<h3>扫一扫</h3>
						<p>关注21氪公众平台</p>
					</div>
					<div class="footer1 fr">
						<div class="footer1-2">
							<h1>21KR</h1>
						</div>
						<ul>
							<li><i class="address"></i><span>地址：重庆市湖州街天邑国际3幢 810-815</span></li>
							<li><i class="phone-icon"></i><span>TEL：0571-87203952</span></li>
							<li><i class="weixin"></i><span>微信：456231564</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--最底部技术支持-->
		<div class="bot">
			<div class="content">
				<p>本网站设计、源代码及其中所展示之作品著作权</p>
			</div>
		</div>
	</div>
</body>
</html>
