<!DOCTYPE html>
<html>
<meta charset="utf-8">
<title>品牌设计|微信开发|APP开发|网站开发|重庆廿一氪科技有限公司</title>
<meta name="keywords" content="品牌设计,微信开发,APP开发,网站开发">
<meta name="description" content="重庆廿一氪科技有限公司是一个集品牌策划、品牌设计、品牌管理为一体的高端品牌整合策划设计团队。我们杭州设计公司致力于为注重“企业形象”和“品牌气质”的高要求客户提供服务。主营：VI设计,LOGO设计，咨询电话：400-002-6922。">
<meta name="author" content="lanyunwork">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, target-densitydpi=medium-dpi">
<!-- <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon"> -->
<link rel="stylesheet" href="../static/css/viewpoint.css" type="text/css">
<link rel="stylesheet" href="../static/css/public.css" type="text/css"><!--css-->
<!--<script src="https://hm.baidu.com/hm.js?59cf88c42aaeab5a68f18450d2672c47"></script>-->
<script type="text/javascript" src="../static/js/plugs/jquery-3.2.0.min.js"></script><!--jquery框架文件1.91-->
<script type="text/javascript" src="../static/js/plugs/jquery.easing.min.js"></script><!--增强动画过渡效果-->
<script type="text/javascript" src="../static/js/plugs/jquery.lazyload.min.js"></script><!--延迟加载-->
<script type="text/javascript" src="../static/js/plugs/jquery.superslide.js"></script><!--常用切换-->
<!--<script type="text/javascript" src="../static/js/index.js"></script>-->
<!--[if lt IE 9]><script src="/static/html5.js"></script><![endif]-->
<script>
//var _hmt = _hmt || [];
//	(function() {
//	  var hm = document.createElement("script");
//	  hm.src = "https://hm.baidu.com/hm.js?59cf88c42aaeab5a68f18450d2672c47";
//	  var s = document.getElementsByTagName("script")[0]; 
//	  s.parentNode.insertBefore(hm, s);
//	})();
//</script>
</head>
<body>
	<div class="container">
		<!--顶部联系方式通栏-->
		<div class="contact-top">
			<div class="content clearfix">
				<!--左侧电话-->
				<div class="contact-top-phone fl">
					<p class="">
						<span>18580648171</span>
					</p>
				</div>
				<!--右侧社交联系方式-->
				<ul class="clearfix fr">
					<li class="contact-item"><a href="#" title="QQ" class="contact-icon-item qq"></a></li>
					<li class="contact-item"><a href="#" title="QQ空间" class="contact-icon-item qqkj"></a></li>
					<li class="contact-item"><a href="#" title="微博" class="contact-icon-item weibo"></a></li>
					<li class="contact-item"><a href="#" title="微信" class="contact-icon-item weixin"></a></li>
				</ul>
			</div>
		</div>
		<!--头部导航栏-->
		<div class="header">
			<div class="content">
				<div class="header-in clearfix">
					<a href="#" class="logo fl">
					</a>
					<a href="javascript:;" class="menu-off">
						<span id="span1"></span>
						<span id="span2"></span>
						<span id="span3"></span>
					</a>
					<div class="nav fr">
						<ul>
							<li><a href="index.html">首页</a></li>
							<li><a href="viewpoint.html" class="active">观点</a></li>
							<li><a href="#">服务</a></li>
							<li><a href="case.html">作品</a></li>
							<li><a href="21kr.html">21KR</a></li>
							<li><a href="#">联系我们</a></li>
						</ul>
						<a href="javascript:void(0)" class="close">
							<img src="../static/img/close.png">
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--观点标签-->
		<div class="viewpoint">
			<div class="content">
				<div class="viewtag">
					<ul class="clearfix">
						<li><a href="#" class="sx">筛选：</a></li>
						<li><a href="#" class="yc">原创</a></li>
						<li><a href="#" class="zz">转载</a></li>
						<li><a href="#" class="zx">最新</a></li>
					</ul>
				</div>
				<div class="viewpoint-box clearfix">
					<div class="viewpoint-item">
						<div class="view-item-top clearfix">
							<div class="view-time">
								<h2>03-23</h2>
								<span>2017</span>
							</div>
							<div class="view-tag">
								<a href="#" class="yc">原创</a>
								<a href="#" class="zx">最新</a>
							</div>
						</div>
						<div class="view-word">
							<h2>第六届中国投资者大会召开荣获双项大奖</h2>
							<p>1月7日，由CCTV证券资讯频道、中国中小微企业综合金融服务平台、环球时报、腾讯财
经等联合主办的第六届中国投资者大会在北京隆重举行，道有道凭借2016年在资本市...</p>
						</div>
					</div>
					<div class="viewpoint-item">
						<div class="view-item-top clearfix">
							<div class="view-time">
								<h2>03-23</h2>
								<span>2017</span>
							</div>
							<div class="view-tag">
								<a href="#" class="yc">原创</a>
								<a href="#" class="zx">最新</a>
							</div>
						</div>
						<div class="view-word">
							<h2>第六届中国投资者大会召开荣获双项大奖</h2>
							<p>1月7日，由CCTV证券资讯频道、中国中小微企业综合金融服务平台、环球时报、腾讯财
经等联合主办的第六届中国投资者大会在北京隆重举行，道有道凭借2016年在资本市...</p>
						</div>
					</div>
					<div class="viewpoint-item">
						<div class="view-item-top clearfix">
							<div class="view-time">
								<h2>03-23</h2>
								<span>2017</span>
							</div>
							<div class="view-tag">
								<a href="#" class="yc">原创</a>
								<a href="#" class="zx">最新</a>
							</div>
						</div>
						<div class="view-word">
							<h2>第六届中国投资者大会召开荣获双项大奖</h2>
							<p>1月7日，由CCTV证券资讯频道、中国中小微企业综合金融服务平台、环球时报、腾讯财
经等联合主办的第六届中国投资者大会在北京隆重举行，道有道凭借2016年在资本市...</p>
						</div>
					</div>
					<div class="viewpoint-item">
						<div class="view-item-top clearfix">
							<div class="view-time">
								<h2>03-23</h2>
								<span>2017</span>
							</div>
							<div class="view-tag">
								<a href="#" class="yc">原创</a>
								<a href="#" class="zx">最新</a>
							</div>
						</div>
						<div class="view-word">
							<h2>第六届中国投资者大会召开荣获双项大奖</h2>
							<p>1月7日，由CCTV证券资讯频道、中国中小微企业综合金融服务平台、环球时报、腾讯财
经等联合主办的第六届中国投资者大会在北京隆重举行，道有道凭借2016年在资本市...</p>
						</div>
					</div>
					<div class="viewpoint-item">
						<div class="view-item-top clearfix">
							<div class="view-time">
								<h2>03-23</h2>
								<span>2017</span>
							</div>
							<div class="view-tag">
								<a href="#" class="yc">原创</a>
								<a href="#" class="zx">最新</a>
							</div>
						</div>
						<div class="view-word">
							<h2>第六届中国投资者大会召开荣获双项大奖</h2>
							<p>1月7日，由CCTV证券资讯频道、中国中小微企业综合金融服务平台、环球时报、腾讯财
经等联合主办的第六届中国投资者大会在北京隆重举行，道有道凭借2016年在资本市...</p>
						</div>
					</div>
					<div class="viewpoint-item">
						<div class="view-item-top clearfix">
							<div class="view-time">
								<h2>03-23</h2>
								<span>2017</span>
							</div>
							<div class="view-tag">
								<a href="#" class="yc">原创</a>
								<a href="#" class="zx">最新</a>
							</div>
						</div>
						<div class="view-word">
							<h2>第六届中国投资者大会召开荣获双项大奖</h2>
							<p>1月7日，由CCTV证券资讯频道、中国中小微企业综合金融服务平台、环球时报、腾讯财
经等联合主办的第六届中国投资者大会在北京隆重举行，道有道凭借2016年在资本市...</p>
						</div>
					</div>
					<div class="viewpoint-item">
						<div class="view-item-top clearfix">
							<div class="view-time">
								<h2>03-23</h2>
								<span>2017</span>
							</div>
							<div class="view-tag">
								<a href="#" class="yc">原创</a>
								<a href="#" class="zx">最新</a>
							</div>
						</div>
						<div class="view-word">
							<h2>第六届中国投资者大会召开荣获双项大奖</h2>
							<p>1月7日，由CCTV证券资讯频道、中国中小微企业综合金融服务平台、环球时报、腾讯财
经等联合主办的第六届中国投资者大会在北京隆重举行，道有道凭借2016年在资本市...</p>
						</div>
					</div>
					<div class="viewpoint-item">
						<div class="view-item-top clearfix">
							<div class="view-time">
								<h2>03-23</h2>
								<span>2017</span>
							</div>
							<div class="view-tag">
								<a href="#" class="yc">原创</a>
								<a href="#" class="zx">最新</a>
							</div>
						</div>
						<div class="view-word">
							<h2>第六届中国投资者大会召开荣获双项大奖</h2>
							<p>1月7日，由CCTV证券资讯频道、中国中小微企业综合金融服务平台、环球时报、腾讯财
经等联合主办的第六届中国投资者大会在北京隆重举行，道有道凭借2016年在资本市...</p>
						</div>
					</div>
				</div>
				<!--分页控制-->
				<div class="pages clearfix">
					<a href="#">首页</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">下一页</a>
					<a href="#">末页</a>
				</div>
			</div>
		</div>
		<!--底部导航栏-->
		<div class="footer">
			<div class="content">
				<div class="footer-in clearfix">
					<div class="footer2 fl clearfix">
						<dl>
							<dt><a href="/case" style="color: #999999;">WORKS</a></dt>
							<dd><a href="/case">品牌设计</a></dd>
							<dd><a href="/case">微信开发(H5)</a></dd>
							<dd><a href="/case">APP开发</a></dd>
							<dd><a href="/case">网站开发</a></dd>
						</dl>
						<dl>
							<dt><a href="/about" style="color: #999999;">21KR</a></dt>
							<dd><a href="/about">21KR是谁</a></dd>
							<dd><a href="/about#youshi">21KR优势</a></dd>
							<dd><a href="/about#hezuo">21KR文化</a></dd>
						</dl>
						<dl>
							<dt><a href="/news" style="color: #999999;">VIEWPOINT</a></dt>
							<dd><a href="/news/view/">21KR观点</a></dd>
							<dd><a href="/news/dynamic/">21KR动态</a></dd>
							<dd><a href="/news/information/">行业资讯</a></dd>
						</dl>
						<dl style="margin-right: 0px ">
							<dt><a href="/contact" style="color: #999999;">CONTACT</a></dt>
							<dd><a href="/contact#dizhi">位置地图</a></dd>
							<dd><a href="/contact#lianxi">联系方式</a></dd>
							<dd><a href="/contact#zhaopin">人才招聘</a></dd>
						</dl>
					</div>
					<div class="erweima fl">
						<img src="../static/img/erweima_s.png"/>
						<h3>扫一扫</h3>
						<p>关注21氪公众平台</p>
					</div>
					<div class="footer1 fr">
						<div class="footer1-2">
							<h1>21KR</h1>
						</div>
						<ul>
							<li><i class="address"></i><span>地址：重庆市湖州街天邑国际3幢 810-815</span></li>
							<li><i class="phone-icon"></i><span>TEL：0571-87203952</span></li>
							<li><i class="weixin"></i><span>微信：456231564</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--最底部技术支持-->
		<div class="bot">
			<div class="content">
				<p>本网站设计、源代码及其中所展示之作品著作权</p>
			</div>
		</div>
	</div>
</body>
</html>
